.Orderlist_cont {
  padding: 1rem;
}
.Orderlist_title {
  margin-bottom: 1rem;
}

@media (max-width: 640px) {
  .Order_table_cont {
    width: 100%;
    overflow-y: auto;
  }
  .Order_table {
    table-layout: auto;
  }

  .Order_table tr {
    font-size: 0.9rem;
  }
}
