*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
main {
  min-height: 90vh;
  background-color: #fafafa;
  padding-bottom: 2rem;
}
input:focus,
button:focus {
  outline: none;
}
@font-face {
  font-family: "Rubik";
  src: url(./fonts/Rubik-Light.ttf);
}
@font-face {
  font-family: "RubikMedium";
  src: url(./fonts/Rubik-Medium.ttf);
}
@font-face {
  font-family: "RubikRegular";
  src: url(./fonts/Rubik-Regular.ttf);
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
body {
  font-family: "RubikRegular", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
