.Product_img img {
  width: 100%;
}

.Product {
  background-color: #fff;
  border: 2px solid #f1f1f1;
  border-radius: 4px;
  position: relative;
}
.Product_conatiner_inner {
  flex: 1 0 18%;
  flex-wrap: nowrap;
  margin: 2% 1% 1%;
}
.Product_1_3 {
  flex: 0 0 30%;
}
.Products_title {
  margin: 10px;
}
.Product_name {
  font-weight: 600;
}
.Product_info {
  /* border: 1px solid black; */
  /* padding: 5px; */
  text-align: center;
  color: #0063d1;
  font-size: 14px;
  height: 70px;
}
.Product_info p {
  color: black;
}
.Discount {
  text-decoration: line-through;
  color: red;
  margin-right: 10px;
}
.Btn {
  display: inline-block;
  background-color: #0063d1;
  color: white;
  border: none;
  cursor: pointer;
  /* line-height: 38px; */
  text-align: center;
  border-radius: 3px;
  padding: 6px 10px;
  transition: opacity 500ms ease-in-out, background 400ms;
}
.Add_cart_btn {
  opacity: 0;
  width: 100%;
  height: 40px;
  line-height: 38px;
  padding: 0;
}
.Btn:hover {
  background: #242424;
}
.Btn_sold {
  background: #242424;
  cursor: not-allowed;
}
.Action_link {
  position: absolute;
  width: 50px;
  font-size: 15px;
  color: #fff;
  top: 6%;
  left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 700ms ease-in-out;
}
.Product:hover {
  /* border: 2px solid #ebebeb; */
  border-color: #fff;
  box-shadow: 0 0 1pt 1pt #0063d1;
}
.Product:hover .Action_link,
.Product:hover .Add_to_cart button {
  /* visibility: visible; */
  opacity: 1;
}
/* .Action_link ul {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
} */
.Action_link ul li {
  margin: 5px 0;
  background: #0063d1;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 0.9rem;
  position: relative;
  transition: background-color 300ms ease-in;
}

.Action_link button {
  background: none;
  color: #fff;
  border: none;
  font-weight: 300;
  cursor: pointer;
  font-size: 1rem;
  height: 100%;
  width: 100%;
}

.Tooltip_text {
  background-color: #000;
  position: absolute;
  left: 115%;
  bottom: 5px;
  z-index: 1;
  font-size: 12px;
  width: 80px;
  height: 30px;
  line-height: 28px;
  border-radius: 4px;
  opacity: 0;
  transform: scale(0);
  transition-property: opacity, scale;
  transition-duration: 400ms;
}
.Tooltip_text::after {
  position: absolute;
  right: 100%;
  bottom: 35%;
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
/* .Action_link ul li:last-child .Tooltip_text {
  right: 0;
}
.Action_link ul li:last-child .Tooltip_text::after {
  right: 10%;
} */
.Action_link li:hover {
  background-color: #0b468a;
  opacity: 0.9;
  cursor: pointer;
}
.Action_link li:hover .Tooltip_text {
  opacity: 0.8;
  transform: scale(1);
}
.Product_label {
  width: 50px;
  font-size: 15px;
  color: #fff;
  position: absolute;
  top: 6%;
  right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Product_label li {
  margin: 5px 0;
  background: #62ab00;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 50%;
}
.Product_label .Sold_out {
  background-color: red;
  font-size: 10px;
}
.Alert_cont {
  position: fixed;
  top: 10%;
  left: 5%;
  right: 5%;
  z-index: 499;
}

@media (max-width: 640px) {
  .Product_conatiner_inner {
    flex: 0 0 48%;
    margin: 2% 1% 1%;
  }
  .Add_cart_btn {
    opacity: 1;
  }
  .Action_link {
    opacity: 1;
  }
  .Action_link ul li {
    width: 35px;
    height: 35px;
    line-height: 32px;

    border-radius: 50%;
    background-color: #0063d1;
    position: relative;

    /* transform: translateX(-10px); */
  }
  .Product_info {
    height: 55px;
  }
  .Tooltip_text {
    display: none;
  }
}
@media (min-width: 200px) and (max-width: 400px) {
  .Product_conatiner_inner {
    flex: 0 0 98%;
    margin: 2% 1% 1%;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .Product_conatiner_inner {
    flex: 0 0 30%;
    margin: 2% 1% 1%;
  }
  .Add_cart_btn {
    opacity: 0;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .Product_conatiner_inner {
    flex: 0 0 22.5%;
    margin: 2% 1% 1%;
  }
  .Add_cart_btn {
    opacity: 0;
  }
}
