.Search_box_cont {
  position: relative;
  width: 50%;
  text-align: center;
}
.Search_box_form {
  width: 100%;
  display: inline-block;
  position: relative;
  z-index: 500;
}
.Search_box {
  position: relative;
  z-index: 500;
}

.Search_input {
  border: 3px solid #ebebeb;
  border-radius: 4px 0 0 4px;
  width: 60%;
  padding: 10px;
  border-right: none;
}
.Search_button {
  cursor: pointer;
  padding: 10px;
  width: 15%;
  min-width: 60px;
  background: #0063d1;
  color: white;
  border: 3px solid #0063d1;
  border-left: none;
  border-radius: 1px 4px 4px 1px;
  position: relative;
  left: -5px;
  transition-property: background-color border;
  transition-duration: 400ms;
}
.Search_button:hover {
  background: #242424;
  border: 3px solid #242424;
  border-left: none;
}

.Search_results {
  position: absolute;
  z-index: 500;
  right: 12.8%;
  top: 110%;
  width: 75%;
  max-height: 400px;
  min-height: 300px;
  overflow-y: auto;
  background-color: #fff;
  border: 2px solid #ebebeb;
  border-radius: 4px;
}
.Search_results ul {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  padding: 4%;
}
.Suggestion {
  flex: 0 0 32%;
  /* margin-right: 1px; */
  margin-left: 0.9%;
  margin-bottom: 0.9%;
  border: 1px solid #d4d5d6;
  border-radius: 2px;
}
.Suggestion:hover {
  box-shadow: 0 0 0.7pt 0.7pt #0063d1;
}

.Search_img img {
  width: 100%;
}
.Search_title {
  margin-bottom: 10px;
  font-size: 12px;
}
.Hide {
  display: none;
}
.Autocomplete_overlay {
  display: block;
}
.Autocomplete_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(37, 41, 51, 0.45);
  z-index: 1;
}

/* search Loader */
.Loader,
.Loader:before,
.Loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.Loader {
  color: #0063d1;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.Loader:before,
.Loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.Loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.Loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@media (max-width: 640px) {
  .Search_box_cont {
    position: fixed;
    z-index: 99;
    top: 61px;
    left: 0;
    width: 100%;
    padding: 2px;
    background-color: #fdfbfb;
    display: none;
  }
  .Active {
    display: block;
  }
}
